{
  "extends": [
    "@antfu"
  ],
  "rules": {
    "comma-dangle": "off",
    "no-multiple-empty-line": "off",
    "no-trailing-spaces": "off",
    "eol-last": "off",
    "no-console": "off",
    "@typescript-eslint/comma-dangle": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/no-var-requires": "off"
  }
}